<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color: brown">
    <app-indexed-area
      style="
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      "
    >
      <label style="margin-right: 3px; color: antiquewhite">1</label>
      <input  [appFocusable]="1" appAutoselect />
      
      <label style="margin-right: 3px; color: antiquewhite">4</label>
      <input focusFunkName='native' [appFocusable]="4" appAutoselect />

      <label style="margin-right: 3px; color: antiquewhite">2</label>
      <input  [appFocusable]="2" *ngIf="show" appAutoselect />
      
      <ion-button
        [appFocusable]="3"
        
        size="small"
        color="medium"
        (click)="show = !show"
      >
        show\hide
      </ion-button>

      <form style="margin-top: 4px">
        <app-formcell label="Password">
          <ion-input
            [appFocusable]="5"
            focusFunkName='ionic'
            appAutoselect
            autocomplete="false"
            clear-input="true"
            inputmode="password"
            placeholder="suPer_stro123ngPass!"
            type="password"
          >
          </ion-input>
        </app-formcell>
      </form>
    </app-indexed-area>
  </div>

  <div
    style="
      background-color: bisque;
      width: 100vw;
      height: 50vh;
      overflow: scroll;
    "
  >
    <table style="margin: 5px">
      <tbody>
        <app-indexed-area style="margin: 10px">
          <tr *ngFor="let row of dataTable; index as i;">
            <td
              style="width: 50px; border: 1px"
              *ngFor="let col of row.names; index as j;"
              style="margin: 2px; padding: 2px; border: 1px; min-width: 4rem"
            >
              <!-- <app-indexed-element  [areaIndex]="getIndex(i,j)"> -->

              <app-editable-element
                focusFunkName="editable"
                [appFocusable]="getIndex(i,j)"
                [contextData]="row"
                [contextName]="col"
              ></app-editable-element>

              <!-- </app-indexed-element> -->
              <!-- <input [tabindex]="getIndex(i,j)" [(ngModel)]="dataTable[i][col]"> -->
            </td>
          </tr>
        </app-indexed-area>
      </tbody>
    </table>
  </div></ion-content
>
