<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div style="background-color: brown;">
  <app-indexed-area style="margin: 10px;">
    <app-indexed-element #ie10 [areaIndex]="1" >
      <label>{{ie10.areaIndex}}</label>
      <input [appFocusable]=0 appAutoselect>
      
    </app-indexed-element>

    <app-indexed-element #ie13 [areaIndex]="3" >
      <label>{{ie13.areaIndex}}</label>
      <input [appFocusable]=0 appAutoselect>
    </app-indexed-element>

    <app-indexed-element #ie12 [areaIndex]="2" >
      <label>{{ie12.areaIndex}}</label>
      <input [appFocusable]=0 *ngIf="show" appAutoselect>
      <ion-button [appFocusable]=0  size="small" color="medium" (click)="show = !show"> show\hide </ion-button>
    </app-indexed-element>

    <app-indexed-element  [areaIndex]="4" >
      <form>
      <app-formcell  label="Password">
      <ion-input
        [appFocusable]=0
        focusfunkname = "ionic"
        appAutoselect
        autocomplete="false"
        clear-input="true"
        inputmode="password"
        placeholder="suPer_stro123ngPass!"
        type="password"
      >
      </ion-input>
    </app-formcell>
  </form>
    </app-indexed-element>
  </app-indexed-area>
  </div> -->

  <div style="background-color: bisque; width: 100vw; height: 50vh; overflow: scroll;">
  <table style="margin: 5px;">
    <tbody>
      <app-indexed-area style="margin: 10px;">
        <tr *ngFor="let row of dataTable; index as i;">
            <td *ngFor="let col of row.names; index as j;" style="margin: 2px; padding: 2px; border: 1px; min-width: 4rem;">
              <app-indexed-element  [areaIndex]="getIndex(i,j)">
                <app-editable-element [contextData]="row" [contextName]="col" ></app-editable-element>
              </app-indexed-element>
              <!-- <input [tabindex]="getIndex(i,j)" [(ngModel)]="dataTable[i][col]"> -->
            </td>
        </tr>
      </app-indexed-area>
    </tbody>
</table>

<!-- <app-indexed-area style="margin: 10px;">
    <app-indexed-element  [areaIndex]="1">
      <app-editable-element [contextData]="contextData" contextName="first" ></app-editable-element>
    </app-indexed-element>

    <app-indexed-element  [areaIndex]="2">
      <app-editable-element [contextData]="contextData" contextName="second" ></app-editable-element>
    </app-indexed-element>

    <app-indexed-element  [areaIndex]="3">
      <app-editable-element [contextData]="contextData" contextName="third" ></app-editable-element>
    </app-indexed-element>

    <app-indexed-element *ngFor="let item of list" [areaIndex]="item">
      <app-editable-element [contextData]="contextData" contextName="third" ></app-editable-element>
    </app-indexed-element>
  </app-indexed-area> -->

  <div style="padding-top: 10px;">
    <span style="margin: 3px;">{{contextData.first}}</span>
    <span style="margin: 3px;">{{contextData.second}}</span>
    <span style="margin: 3px;">{{contextData.third}}</span>
  </div>

</div>
</ion-content>
