<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color: brown;">
  <app-indexed-area style="margin: 10px;">
    <app-indexed-element #ie0 [areaIndex]="0">
      <label>{{ie0.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

    <app-indexed-element #ie3 [areaIndex]="3">
      <label>{{ie3.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

    <app-indexed-element #ie2 [areaIndex]="2">
      <label>{{ie2.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

  </app-indexed-area>
  </div>
<div style="background-color: bisque;">
  <app-indexed-area style="margin: 10px;">
    <app-indexed-element #ie1 [areaIndex]="1">
      <label>{{ie1.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

    <app-indexed-element #ie2 [areaIndex]="2">
      <label>{{ie2.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

    <app-indexed-element #ie3 [areaIndex]="3">
      <label>{{ie3.areaIndex}}</label>
      <input #myinput>
    </app-indexed-element>

  </app-indexed-area>
</div>
</ion-content>
