<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <app-formcontainer title="Fill form for submit">
          <form [formGroup]="form">
            <app-formcell label="Email">
              <ion-input
                appAutoselect
                formControlName="email"
                autocomplete="false"
                clear-input="true"
                inputmode="email"
                placeholder="email@mydomen.com"
                type="email"
                #emailcontrol
              >
              </ion-input>
            </app-formcell>

            <app-formcell label="Password">
              <ion-input
                appAutoselect
                formControlName="password"
                autocomplete="false"
                clear-input="true"
                inputmode="password"
                placeholder="suPer_stro123ngPass!"
                type="password"
              >
              </ion-input>
            </app-formcell>

            <app-formcell label="Confirm">
              <ion-input
                appAutoselect
                formControlName="passwordconfirm"
                autocomplete="false"
                clear-input="true"
                inputmode="password"
                placeholder="Confirm password"
                type="password"
              >
              </ion-input>
            </app-formcell>
          </form>
        </app-formcontainer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
